/* Written by Auke Scheepstra */

/* Navigation */
/* Sidenav with large logo */

body{
	margin-left: 10.1em; /* equal to nav width */
}

#nav-container{
	position: fixed;
	width: 10em;
	height: 100%;
	transform: translate(-10.1em);
}

#nav-logo{
	width: 100%;
	height: auto;
}

.nav-item{
	list-style-type: none;
	height: 5em;
	width: 100%;
	text-align: center;
	line-height:5em; /* equal to item height */
}

.nav-dropdown{
	position:relative;
	display: none;
	width: 100%;
	margin-left: -1px;
	transform: translate(10.1em, -5.05em);
}

.nav-item:hover .nav-dropdown, .nav-dropdown:hover{
	display: block;
	z-index: 1;
}

.nav-dropdown-item{
	width: 100%;
	list-style-type: none;
	z-index: 1;
}
