/* Written by Auke Scheepstra */

/* Footer */

html{
	min-height: 100%;
	position: relative;
}

body{
	margin-bottom: 6em; /* equal to footer height */
}

#footer{
	position: absolute;
    left: 0;
    bottom: 0;
    height: 6em;
    width: 100%;
    overflow:hidden; 
}

.footer-item{
	width: calc(100%/3 - 1.7px);
	height: 100%;
	float: left;
	display: flex;
}

.footer-item p{
	padding: .5em;
	line-height: 1.5em;
}

.footer-social-media{
	flex-wrap: wrap;
	justify-content: flex-end;
}

.footer-icon{
	max-width: 5em;
	height: auto;
	margin: .5em;
}

@media all and (orientation:portrait){
	.footer-icon{
		max-width: 2em;
	}
}

/* Shop */

#shop{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.shop-item > img{
	width:100%;
	max-width: 20em;
	height: auto;
}

.item-name{
	float: left;
}

.item-price{
	float: right;
}

#nav-search, #query{
	width: 100%;
	padding: 0;
}

/* Lipsum */

#lipsum {
	width: 100%;
}

#lipsum p{
	padding: 1em;
	background: #eee !important;
	z-index: -1;
}

/* STYLES */
/* Wireframe */

#nav-logo, .nav-item, .nav-dropdown-item, .footer-item, .shop-item, #query, #lipsum p{
	background: #fff;
	border: 1px solid #000;
}